<div class="actions-menu" data-actions-for="{{entityId}}">
    <button class="actions-trigger" data-action="menu" title="Actions">&#8942;</button>
    <div class="actions-dropdown">
        <a href="{{editHref}}" class="actions-item">Edit</a>
        <button class="actions-item actions-item-danger" data-action="delete" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}">Delete</button>
    </div>
</div>
