<div class="stat-card{{#if variant}} {{variant}}{{/if}}">
    <div class="label">{{label}}</div>
    <div class="value">{{value}}</div>
    {{#if subtitle}}<div class="kpi-subtitle">{{subtitle}}</div>{{/if}}
</div>
