<div class="cell-stacked">
    <div class="cell-primary">{{#if primary}}{{primary}}{{else}}{{> @partial-block}}{{/if}}</div>
    {{#if secondary}}<div class="cell-secondary">{{secondary}}</div>{{/if}}
</div>
