<div class="sp-tabs{{#if variant}} sp-tabs--{{variant}}{{/if}}"{{#if variant}} data-variant="{{variant}}"{{/if}} role="tablist"{{#if label}} aria-label="{{label}}"{{/if}}>
    {{> @partial-block}}
</div>
