<label class="toggle-switch">
    <input type="checkbox"{{#if checked}} checked{{/if}} data-entity-type="{{entityType}}" data-entity-id="{{entityId}}" data-action="toggle">
    <span class="toggle-slider"></span>
</label>
