<div class="toolbar">
    <div class="search-group">
        <input type="text" class="search-input" placeholder="{{searchPlaceholder}}" id="{{searchId}}">
    </div>
    {{#if newHref}}
    <a href="{{newHref}}" class="btn btn-primary">{{newLabel}}</a>
    {{/if}}
</div>
