{{#> layout title=title page=page}}
    {{#*inline "head_extra"}}{{/inline}}
    {{#*inline "content"}}
    {{> components/page-header title=title}}
    <section aria-label="Content and traffic">
    {{> components/empty-state message="No content and traffic data available."}}
    </section>
    {{/inline}}
    {{#*inline "scripts"}}{{/inline}}
{{/layout}}
